 <h1>lists</h1>
  <table>
    <% @lists.each do |list| %>
      <tr>
        <td>
          <%= link_to list.name, list_path(list) %><br>
        </td>
      </tr>
    <% end %>
  </table>

  <button><%=link_to "New list", new_list_path%></button>
 
